//base colors
$black:rgb(0, 0, 0);
$light-grey:rgb(102, 102, 102);
$grey:rgb(51, 51, 51);
$lighter-grey:rgb(153, 153, 153);
$white:rgb(255,255,255);


$primary-color:$black;
$secondary-color:$light-grey;
$tertiary-color:$grey;


