@import "stylesheets/main";
.menubar{
  padding: 10px 0;
  border-bottom: 1px solid transparentize($lighter-grey,0.3);
}
.menubar a {
  text-decoration: none;
  word-wrap: break-word;
  color: $primary-color;
  line-height: 1.2;
  letter-spacing: 0px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
.menubar a:hover,
.menubar a:focus{
  color: rgb(0, 0, 0);
}
.active{
  background-color:transparentize($color: #050505, $amount: 0.9);
  color:#000;
  opacity: 0.7;
}

h1{
  font-weight: $header-font-weight;
  font-size: $header-font-size;
}

h2{
  font-weight: $header2-font-weight;
  font-size: $header2-font-size;
}