.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.menubar{
  padding: 10px 0;
  border-bottom: 1px solid #a3a3a3;
}
.menubar a {
  text-decoration: none;
  word-wrap: break-word;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  letter-spacing: 0px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
.menubar a:hover,
.menubar a:focus{
  color: rgb(0, 0, 0);
}
.active{
  background:#05050508;
  color:#000;
  opacity: 0.7;
}